<!DOCTYPE html>
<head>
    <title> Dr.Dentist </title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/materialize.css">
<!--Import Google Icon Font-->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
</head>


</body>
<nav>
  <div class="nav-wrapper">
    <a style="padding-right:10px" href="#!" class="brand-logo">Dr.Dentist</a>
    <ul class="right hide-on-med-and-down">
      <li id ="patients"><a target="/search" >Search</a></li>
      <li><a href = "add.html">Add</a></li>
  </ul>
  </div>
</nav>


<div class="center" style="margin-top:10vh"><img class="center responsive-img" alt="dent" src="/images/dent.jpg"></div>

<!-- Compiled and minified JavaScript -->
        <script src="/javascripts/materialize.js"></script>
        <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
         </script>
         <script>
             document.getElementById("patient").onClick() = function(){
                    document.write("Working");
             }

         </script>
</body>


</html>
