<!DOCTYPE html>
<head>
    <title> Dr.Dentist </title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/materialize.css">
<!--Import Google Icon Font-->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


</body>
<nav>
  <div class="nav-wrapper">
    <a style="padding-right:10px" href="#!" class="brand-logo">Dr.Dentist</a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/add">Add</a></li>
      <li id ="patients"><a href="/search">Search</a></li>

  </ul>
  </div>
</nav>


<div class="center" style="margin-top:10vh"><img class="center responsive-img" alt="dent" src="/images/dent.jpg"></div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
        <script src="/javascripts/materialize.js"></script>
        <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
         </script>

</body>


</html>
