<!DOCTYPE html>
<head>
    <title> Dr.Dentist </title>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/materialize.css">
<!--Import Google Icon Font-->
<!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body style="">
<nav style="background-color:#252839">
  <div class="nav-wrapper" >

      <ul class="left hide-on-med-and-down">
      <li> <a href = "/"> <i class="material-icons"> toc </i> </a></li>
  </ul>
    <center class="brand-logo">Dr.Dentist</center>
    <ul class="right hide-on-med-and-down">

        <li><a href = "/add"><i class="material-icons">add</i></a></li>
        <li> <a href = "/search"> <i class="material-icons prefix">search</i></a></li>
      <!-- <li><a href = "/add" >Add</a></li> -->
    </ul>
  </div>
</nav>



<!-- <img class="center responsive-img" src="./images/search.png"> -->
<!-- <div class="center" style="margin-top:30vh;background-image:url("./images/search.png")"></div> -->



<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<script src="/javascripts/materialize.js"></script>
<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
 </script>
</body>
</html>
